h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html,body{
	font-family: 'PT Sans', sans-serif;
	background:#f6f6f6;
}
#map {
	height: 600px;
	width: 100%;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.header {
  padding: 2em 0;
  background: #1568b1;
}
.header-left {
  float: right;
}
.logo{
	float:left;
}
.logo h1{
  font-size: 4em;
  color:#03c41e
}
.header-left li {
  display: inline-block;
}
.header-bottom {
  background: #003663;
  padding: 1em 0 0;
  box-shadow: 0px -1px 1px 1px #00254b;
}
.top-nav {
  float: left;
}
.head-right {
  float: right;
  margin: 0.9em 0em 0 0;
}
ul.number li a {
  color: #fff;
  padding: 0.4em 0;
  display: block;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
}
ul.number li a:hover{
	color:#9cbd12;
}
ul.number li {
  list-style: none;
  display: inline-block;
  margin: 0 1em;
}
ul.number {
  padding: 0;
}
.labels {
     	color: red;
     	background-color: white;
     	font-family: "Lucida Grande", "Arial", sans-serif;
     	font-size: 10px;
     	font-weight: bold;
     	text-align: center;
     	width: 40px;     
     	border: 2px solid black;
     	white-space: nowrap;
}
input[type="submit"] {
	background: #0c99c8;
	color:#fff;
  	font-size: 1em;
}
input[type="radio"]{
  margin: 0 10px 0 10px;
}
i.roc {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../images/img-sprite.png) no-repeat -139px -30px;
  vertical-align: middle;
  margin-right: 0.5em;
}
i.phone {
 width: 15px;
  height: 15px;
  display: inline-block;
   background: url(../images/img-sprite.png) no-repeat -169px -30px;
  vertical-align: middle;
  margin-right: 0.5em;
}
i.mail {
  width: 15px;
  height: 15px;
  display: inline-block;
   background: url(../images/img-sprite.png) no-repeat -196px -30px;
  margin-right: 0.5em;
  vertical-align: middle;
}
.top-nav ul li{
	display: inline-block;
	color: #fff;
}
.top-nav ul li:nth-child(3){
	border-right:none;
}
.top-nav ul li a {
  font-size: 1.1em;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 1em 1.5em 0.8em;
  display: block;
  background: #04264c;
  border-radius: 4px 4px 0px 0px;
}
.top-nav ul li a:hover{
	background:#0c99c8;
	color:#fff;
}
.top-nav ul li a.current{
	background:#0c99c8;
	color:#fff;
}
.top-nav ul li a span {
  background: url(../images/img-sprite.png)no-repeat -12px -17px;
  width: 28px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
}
.top-nav ul li a span.slides {
  background-position: -56px -19px;
}
.top-nav ul li a span.mail{
	background-position:-98px -23px
}
/*----*/
.top-nav span.menu:before{
	
	cursor:pointer;	
	width:100%;
}
.top-nav span.menu{
	display: none;
}
.loc-left li{
	display:block;
}
.loc-left ul {
  padding: 0;
}
i.adm {
  width: 49px;
  height: 45px;
  background: url(../images/img-sprite.png)no-repeat -15px -63px;
  vertical-align: middle;
  display: inline-block;
}
i.adm:hover{
  background: url(../images/img-sprite.png)no-repeat -72px -63px;
}
i.set {
  width: 49px;
  height: 45px;
  background: url(../images/img-sprite.png)no-repeat -15px -111px;
  vertical-align: middle;
  display:inline-block;
}
i.set:hover{
  background: url(../images/img-sprite.png)no-repeat -72px -111px;
}
i.str {
  width: 49px;
  height: 45px;
  background: url(../images/img-sprite.png)no-repeat -15px -160px;
  vertical-align: middle;
  display:inline-block;
}
i.str:hover{
  background: url(../images/img-sprite.png)no-repeat -72px -160px;
}
i.plc{
  width: 49px;
  height: 45px;
  background: url(../images/img-sprite.png)no-repeat -15px -210px;
  vertical-align: middle;
  display:inline-block;
}
i.plc:hover{
  background: url(../images/img-sprite.png)no-repeat -72px -210px;
}
i.plus {
  width: 49px;
  height: 45px;
  background: url(../images/img-sprite.png)no-repeat -15px -258px;
  vertical-align: middle;
  display:inline-block;
}
i.plus:hover{
  background: url(../images/img-sprite.png)no-repeat -72px -258px;
}
.loc-left {
  float: left;
  width: 4.5%;
}
.loc-right {
  float: right;
  width: 95.3%;
  padding: 4em;
  background: #fff;
}
.loc-lov h3 {
  color: #003663;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 0 1em;
  font-family: 'Open Sans', sans-serif;
}
.loc-lov p {
  font-size: 1em;
  color: #7f7f7f;
  font-weight: 400;
  line-height: 1.8em;
  font-family: 'Open Sans', sans-serif;
  margin:1em 0;
}
.blas li {
  display: inline-block;
}
li.wicked{
  font-size: 1.05em;
  font-weight: 600;
  color: #2f4455;
  width: 25%;
}
li.mullet {
  font-size: 1.05em;
  font-weight: 600;
  color: #2f4455;
  width: 20%;
}
li.mullet img {
	padding: 0em 0.6em 0em 0em;
	width: 32px;
}
li.see {
  font-size: 1em;
  font-weight: 400;
  color: #8a9928;
  text-align: right;
  width: 34%;
}
li.see a{
  color: #8a9928;
  text-decoration: none;
}
li.see a:hover{
	color:#0c99c8;
}
li.com {
  background: url(../images/img-sprite.png)no-repeat -140px -67px;
  padding: 0px 0px 10px 9px;
  width: 4.4%;
  color:#fff;
  font-size:1.1em;
   font-weight:400;
}
li.com  a{
 color:#fff;
 text-decoration:none;
 vertical-align: middle
}
li.loc {
  background: url(../images/img-sprite.png)no-repeat -139px -114px;
  padding: 0px 0px 10px 9px;
  width: 4.4%;
   color:#fff;
   font-size:1.1em;
   font-weight:400;
}
li.loc  a{
 color:#fff;
 text-decoration:none;
 vertical-align: middle
}
.blas {
  background: #fbffe4;
  padding: 1em;
  border: 1px solid #d1dc8d;
}
.ball li {
  display: inline-block;
}
.ball {
  padding: 1em;
}
.air li {
  display: inline-block;
}
li.iew {
  width: 24%;
  text-align: right;
  color: #0c99c8;
  font-size: 1em;
}
li.iew a{
  color: #0c99c8;
  text-decoration:none;
}
li.iew a:hover{
  color:#8a9928;
}
li.st {
  width: 15%;
  text-align: right;
}
.loc-top {
  padding: 0 0 1em;
  border-bottom: 1px solid #e2e2e2;
}
.air {
  background: #f4fbfd;
  padding: 1em;
  border: 1px solid #d7e7ec;
}
.loc-bottom {
  margin: 3em 0 3em 0;
}
.footer {
  background: #003663;
  padding: 2em 0;
}
.footer h5 {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 400;
  margin: 0 0 1em;
}
.footer li {
  display: block;
  color: #0c99c8;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.8em;
  font-style:italic;
}
.footer li a{
	color: #0c99c8;
	text-decoration:none;
}
.footer li a:hover{
	color: #9cbd12;
}
.footer ul{
padding:0;
}
.banner-info{
position:relative;
}
.reservation ul li {
  float: left;
  list-style: none;
  width: 33%;
}
.location {
  padding: 1em 0;
  z-index: -1;
}